<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titledk</title>
</head>
<body>


<!--- Stuff for profile.html I was testing (tables)--->

    <!--- Personal Info --->
       <h2 class="card-title">Account</h2>
        <table class="table table-dark">
            <tr>
                <th scope="col"> Email</th>
                <th scope="col"> Full Name</th>
                <th scope="col"> Age</th>
                <th scope="col"> Gender</th>
                <th scope="col"> Major</th>
                <th scope="col"> Street</th>
                <th scope="col"> ZIP</th>
            </tr>
            <tbody>
            {% for Email, Full_Name, Age, Gender, Major, Street, Zip in studentinfo %}
                <tr>
                    <td> {{ Email }} </td>
                    <td> {{ Full_Name }} </td>
                    <td> {{ Age }} </td>
                    <td> {{ Gender }} </td>
                    <td> {{ Major }} </td>
                    <td> {{ Street }} </td>
                    <td> {{ Zip }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card-body">
        <h2 class="card-title">History</h2>
        <table class="table table-dark">
            <tr>
                <th scope="col"> Patient ID</th>
                <th scope="col"> First Name</th>
                <th scope="col"> Last Name</th>
            </tr>
            <tbody>
            {% for PID, first_name, last_name in result %}
                <tr>
                    <td> {{ PID }} </td>
                    <td> {{ first_name }} </td>
                    <td> {{ last_name }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>